<div class="cdr-login">

    <div class="jumbotron">
      <h1 class="display-4">Bienvenido</h1>
      <p class="lead" style="font-size: small;">Estas en mimosas catask, para entrar llena el formulario.</p>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email*:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña*:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <a routerLink="" >Olvidé mi contraseña</a>
        </div>
        
        <!--<div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <div class="btns" style="display: flex;">
            <button type="submit" class="btn btn-outline-dark">Iniciar sesion</button>
            <button type="submit" class="btn btn-outline-dark">Registrarse</button>
        </div>
        
      </form>
    </div>
</div>
