<div class="container-fluid">
    <div style="max-width: 500px; margin: auto; ">
        <img class="" src="assets/images/about/working.gif" style=" width: 400px; margin-top: -20px;">
        <h1 class="display-4" style=" font-size: 50px; font-weight: 800; text-align: center;">ESPERA!</h1>
        <h4 class="display-4 text-muted" style=" font-size: 30px; font-weight: 300;">AUN ESTOY TRABJANDO EN ESTO...</h4>
        <p class="text-muted" style="font-size: 20px; font-weight: 200;">Lo siento esta pagina todavia no esta terminada</p>
    </div>
</div>
