
<div class="form">
    <div class="jumbotron">
        <h1 class="display-4">Registro</h1>
        <p class="lead" style="font-size: small;">Para registrarte llena los espacios.</p>
      </div>
      
    <div class="mb-3">
        <label class="form-label">Nombres*:</label>
        <input type="text" class="form-control" placeholder="Pepito">
    </div>
    <div class="mb-3">
        <label class="form-label">Apellidos*:</label>
        <input type="text" class="form-control" placeholder="Perez">
    </div>
    <div class="mb-3">
        <label class="form-label">Email*:</label>
        <input type="email" class="form-control" placeholder="ejemplo@gmail.com">
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña*:</label>
        <input type="password" class="form-control" placeholder="****">
    </div>

    <div class="btns" style="display: flex;">
        <button type="submit" class="btn btn-dark" routerLink="/auth/login">Registro</button>
    </div>
</div>
