
<!---->
<div class="container-fluid row" style="margin-right: 5%;">
        <ng-container *ngIf="task">
            <div class="card" >
                <img src="assets/images/task/cheque.png" style="width: 25px; height: 25px; margin-top: 10px;" [ngClass]="task.check? 'opacity-100':'opacity-0'">
                <div class="card-body">
                    <small class="text-danger rounded">{{errorMsg}}</small>
                    <p class="card-title" style="text-transform: capitalize; font-size: 30px;">{{task.name}}</p>
                </div>
                <div class="footer" style="background-color: white;">
                    <div class="footer" style="display: flex;">
                        <i class="fa-regular fa-clock text-danger"></i>
                        <h6 class="text-danger" >fecha limite: {{task.date}}</h6>
                    </div>
                    <div class="botones" style="display: flex;">
                        <button type="button" class="btn" style="background-color: #e30052; color: white;" (click)="modalTask.showModal()">
                            Detalles
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                        <button *ngIf="!task.check" style="background-color: #D3D3D3; color: #fff;" [ngClass]="colaborando? 'text-withe, bg-success': ' text-dark'" type="button" class="btn btn-colab" (click)="agregarUser(task)">
                            {{this.colaborando? 'Colaborando': 'Colaborar'}}
                            <i *ngIf="!colaborando" class="fa-solid fa-plus"></i>
                        </button>
                        
                        
                    </div>
                </div>
                
            </div>
        </ng-container> 
        <app-modal-task  #modalTask (chek)="chek()" [colaborando]="colaborando" [task]="task" (del)="del()" ></app-modal-task>
        <app-modal-edit #modalEdit [task]="task" *ngIf="edit" ></app-modal-edit>
        
</div>


<!--
    
        <div class="card" style="width: 18rem; border-radius: 0px">
            <div class="card-body">
                <h5 class="card-title">{{task.name}}</h5>
                <p class="card-text" style="font-size: 15px;">{{task.description}}</p>
                <div class="card-footer" style="display: flex;">
                    <i style="padding-top: 2px;" class="fa-regular fa-clock text-danger"></i>
                    <h6 class="text-danger" style="font-size: 15px; padding-left: 5px;">fecha limite:31/21/10</h6>
                </div>
                
            </div>
        </div>
-->

