.card{
    /*
    min-height: 280px;
    max-width: 350px;
    min-width: 230px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 3px solid rgb(66, 75, 202);
    margin: auto;
    margin-top: 50px;
    */
    max-width: 400px;
    min-width: 240px;
    bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    border-bottom: 3px solid rgba(0,0,0,0.15);
    min-height: 150px;
    min-height: 245px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
}


.card-body{
    color: rgb(58, 58, 58);
    font-weight: lighter;
}

.footer{
    position: relative;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 10px;
}
.botones{
    font-weight: 300;
    left: auto;
    margin-left: 10px;
}

.btn{
    margin-right: 15px;
}

i{
    padding-top: 2.5px; 
    padding-right: 5px ;
    font-size: 13px; 
    margin-top: -10px;  
}

h6{
    font-size: 13px; 
    font-weight:bold;
    margin-top: -10px;
}

.card-title{
    align-self: auto;
}

h4{
    text-transform:capitalize;
}






