
<!---->
<div class="container-fluid row">
        <ng-container class="col" *ngFor="let task of proyecto.task, let i=index">
            
            <div class="card">
                <div class="card-body">
                    <p class="card-title" style="text-transform: capitalize; font-size: 30px;">{{task.name}}</p>
                </div>
                <div class="footer" style="background-color: white;">
                    <div class="footer" style="display: flex;">
                        <i class="fa-regular fa-clock text-danger"></i>
                        <h6 class="text-danger" >fecha limite:{{task.fecha}}</h6>
                    </div>
                    <div class="botones" style="display: flex;">
                        <button type="button" class="btn" style="background-color: #D3D3D3; color: #848484;" (click)="agregarUser(task.id)" >
                            Colaborar
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button type="button" class="btn" style="background-color: #e30052; color: white;" (click)="modal.showModal()">
                            Ir a la descripcion
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                        <!--

                            <ng-container class="col" *ngFor="let user of task.user, let i=index">
                            {{user.name|json}}
                            
                        </ng-container>
                        -->
                        
                        <!--<app-modal-task #modal [description]="task.description" [title]="task.name"  [limite]="task.fecha"></app-modal-task>-->
                        <app-modal-task #modal [task]="task"></app-modal-task>
                        
                        
                    </div>
                </div>
                
            </div>
        </ng-container> 
</div>


<!--
    
        <div class="card" style="width: 18rem; border-radius: 0px">
            <div class="card-body">
                <h5 class="card-title">{{task.name}}</h5>
                <p class="card-text" style="font-size: 15px;">{{task.description}}</p>
                <div class="card-footer" style="display: flex;">
                    <i style="padding-top: 2px;" class="fa-regular fa-clock text-danger"></i>
                    <h6 class="text-danger" style="font-size: 15px; padding-left: 5px;">fecha limite:31/21/10</h6>
                </div>
                
            </div>
        </div>
-->

