.card{
    margin: auto;
    max-width: 400px;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    border-bottom: 3px solid rgba(0,0,0,0.15);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 70px;
    min-height: 170px;
    margin-bottom: 20px;
}

.card-body{
    color: rgb(58, 58, 58);
    font-weight: lighter;
}

.footer{
    padding-top: 5px;
    font-weight: 300;
    margin-bottom: 20px;
}
.botones{
    font-weight: 300;
    left: auto;
}

.btn{
    margin-left: 15px;
}

i{
    padding-top: 2.5px; 
    padding-right: 5px ;
    font-size: 13px; 
}

h6{
    font-size: 13px; 
    font-weight:bold;
}

.card-body{
    padding-top: 15px;
    padding-bottom: 10px;
}

h4{
    text-transform:capitalize;
}






