<!--<div class="dsc-carousel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carousel__btns">
        <i class="fa fa-chevron-circle-left" (click)="setBack()"></i>
        <i class="fa fa-chevron-circle-right" (click)="setNext()"></i>
    </div>
    <div class="dsc-carousel__content">
        
        <ng-container *ngFor="let section of items">
            <div class="dsc-carousel_content-item" [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%'}">
                <h1 class="h1">{{section.title?.first}}<span class="h1sub">{{section.title?.second}}</span></h1>
                <p class="p">{{section.subtitle}} hollaa</p>
            </div>
        </ng-container>
        
    </div>
    
    <div class="dsc-carousel__steps">
        <div class="dsc-carousel__steps-step 
        dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" 
        *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>
<div style="color:blue;">{{items|json}}</div>-->
<div class="dsc-carousel-container ">

    <div class="dsc-carruselimg">
        <div *ngFor="let section of items; let i = index" >
            <img   
            [src]="section.image"
            [ngClass]="{'image-active': selectedIndex === i}"
            >
        </div>
        
        <div class="dsc-text">
            <h1 class="dsc-h1">{{llevaTitulo1()}}<span class="dsc-h1sub">{{llevaTitulo2()}}</span></h1>
            <p class="dsc-p">{{llevaSubtitulo()}}</p>
        </div>
    </div>

    <div *ngIf="controls" class="dsc-btn-carousel dsc-btn-prev" >
        <i class="fa fa-chevron-circle-left dsc-icon-carousel dsc-icon-prev" (click)="onPrevClick()"></i>
    </div>
    <div *ngIf="controls" class="dsc-btn-carousel dsc-btn-next" >
        <i class="fa fa-chevron-circle-right dsc-icon-carousel dsc-icon-next" (click)="onNextClick()"></i>
    </div>
    

    <div *ngIf="indicators" class="dsc-carousel-dot-container">
        <span *ngFor="let dot of items, let i=index"
        class="dsc-dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(selectedIndex)"
        ></span>
    </div>

    
</div>


