<div class="container-fluid">
    <div class="content">
    <div class="row">
        <div class="col">
            <div class="head">
                <div class="image">
                    <img src="assets/images/about/paula.png">
                </div>
                <h1>paula misas</h1>
            </div>
            <h5>Experiencia</h5>
            <p>Pese a no tener ninguna experiencia laboral desde inicios de 2023 he estado haciendo mis propios
                proyectos para practicar de forma autonoma angular, bootrap, nestjs mysql
            </p>
            <h5>Estudios</h5>
            <p>2005-2007 Colegio Corazonista</p>
            <p>2007-2018 Liceo Salazar y Herrera</p>
            <p>2020-2022 Pregrado Matematicas Universidad nacional (Aplazado)</p>
            <p>2022-2023 Pregrado Ing de Sistemas Universidad nacional (Actual)</p>
        </div>
        <div class="col right">
            <h5>Mis datos</h5>
            <div style="display: flex;">
                <i class="fa-solid fa-cake-candles"></i>
                <p>22 años</p>
            </div>
            <div style="display: flex;">
                <i class="fa-solid fa-building-columns"></i>
                <p>estudiante de Ing de sistemas</p>
            </div>
            
            <div style="display: flex;">
                <i class="fa-solid fa-mobile"></i>
                <p>+57 3177445499</p>
            </div>
            
            <div style="display: flex;">
                <i class="fa-solid fa-tree-city"></i>
                <p>Medellin - Antioquia</p>
            </div>
            
            <div style="display: flex;">
                <i class="fa-solid fa-envelope"></i>
                <p>pmisas@unal.edu.co</p>
            </div>
            
            <h5>Perfil</h5>  

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar. 
                Tellus cras adipiscing enim eu turpis. Dui sapien eget mi proin sed libero. Aliquam sem fringilla 
                ut morbi. Cras semper auctor neque vitae tempus quam pellentesque nec nam.
            </p>
            <h5>Hobits</h5>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Ver series</li>
                        <li>Jugar</li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Tejer a crochet</li>
                    <li>Estudiar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
