<!--
<ng-container *ngIf="show">
    <div class="modalt">
        <div class="modalt-content">
            <div class="modalt-header">
                <p class="name">Crear Tarea</p>
                
                <svg xnlns="https://www.w3.org/2000/svg" width="113.536" height="113.536" viewBox="0 0 103.536 103.536" (click)="this.hideModal()">
                    <g id="Group_65" data_name="Group 65" transform="translate(-142.732 -214.732)">
                        <line id="Line_7" data-name="Line 7" x2="100" y2="100" transform="translate(144.5 216.5)" fill="none" stroke="#000"
                        stroke-width="5"/>
                        <line id="Line_8" data-name="Line 8" y1="99" x2="99" transform="translate(144.5 216.5)" fill="none" stroke="#000"
                        stroke-width="5"/>
                    </g>
                </svg>
            </div>
            <div class="modalt-container">

                <div class="form">
                    <form [formGroup]="taskForm">
                        <div class="row">
                            <div class="col">

                                <div class="mb-3">
                                    <label class="form-label">Titulo*:</label>
                                    <input type="text" class="form-control" formControlName="name" (click)="onSingup('name')" [class.error]="taskForm.controls['name'].touched && taskForm.hasError('required','name')" placeholder="nombre del proyecto">
                                    <small *ngIf="taskForm.controls['name'].touched && taskForm.hasError('required','name')" class="text-danger rounded">*Tilulo entre 5 y 50 caracteres</small>
                                </div>
                        
                                <div class="mb-3">
                                    <label class="form-label">Descripcion*:</label>
                                    <textarea type="text" row="3" class="form-control" formControlName="description" (click)="onSingup('description')" [class.error]="taskForm.controls['description'].touched && taskForm.hasError('required','description')" placeholder="Agregue una descripcion de su tarea" maxlength="60" ></textarea>
                                    <small *ngIf="taskForm.controls['description'].touched && taskForm.hasError('required','description')" class="text-danger rounded">*Descripcion entre 5 y 60 caracteres</small>
                                </div>
                        
                                <div class="mb-3">
                                    <label class="form-label">Fecha limite*:</label>
                                    <input type="date" class="form-control" formControlName="date" (click)="onSingup('date')" [class.error]="taskForm.controls['date'].touched && taskForm.hasError('required','date')" placeholder="ejemplo@gmail.com" >
                                    <small *ngIf="taskForm.controls['date'].touched && taskForm.hasError('required','date')" class="text-danger rounded">*Fecha requerida</small>
                                </div>
                        
                                <div class="mb-3">
                                    <button type="submit" class="btn" style="background-color: #e30052; color: white;" (click)="autenticate()">Guardar</button>
                                </div>

                            </div>
                            <div class="col">
                                <label class="form-label">Elige a tus colaboradores*:</label>
                                <div class="overflow-auto scroll">
                                    <div class="row">
                                            <ng-container  *ngFor="let worker of this.workers">
                                                <div class="col-6 col-sm-4 col-md-4 col-xl-4 workers">
                                                    <app-select-coworker [worker]="worker" (enviar)="recibirMensaje($event)"></app-select-coworker> 

                                                </div>
                                                    
                                            </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-container>
-->

<ng-container *ngIf="show">
    <div class="modalt">
        <div class="modalt-content">
            <div class="modalt-header">
                <p class="name">Editar Tarea</p>
                
                <svg xnlns="https://www.w3.org/2000/svg" width="113.536" height="113.536" viewBox="0 0 103.536 103.536" (click)="this.hideModal()">
                    <g id="Group_65" data_name="Group 65" transform="translate(-142.732 -214.732)">
                        <line id="Line_7" data-name="Line 7" x2="100" y2="100" transform="translate(144.5 216.5)" fill="none" stroke="#000"
                        stroke-width="5"/>
                        <line id="Line_8" data-name="Line 8" y1="99" x2="99" transform="translate(144.5 216.5)" fill="none" stroke="#000"
                        stroke-width="5"/>
                    </g>
                </svg>
            </div>
            <div class="modalt-container">

                <div class="form">
                    <form [formGroup]="editForm">
                        <div class="row">
                            <div class="col">

                                <div class="mb-3">
                                    <label class="form-label">Titulo*:</label>
                                    <input type="text" class="form-control" formControlName="name" (click)="onSingup('name')" [class.error]="editForm.controls['name'].touched && editForm.hasError('required','name')" placeholder="nombre del proyecto">
                                    <!--<small *ngIf="editForm.controls['name'].touched && editForm.hasError('required','name')" class="text-danger rounded">*Nombre es requerido</small>-->
                                    <small *ngIf="editForm.controls['name'].touched && editForm.hasError('required','name')" class="text-danger rounded">*Tilulo entre 5 y 50 caracteres</small>
                                </div>
                        
                                <div class="mb-3">
                                    <label class="form-label">Descripcion*:</label>
                                    <textarea type="text" row="3" class="form-control" formControlName="description" (click)="onSingup('description')" [class.error]="editForm.controls['description'].touched && editForm.hasError('required','description')" placeholder="Agregue una descripcion de su tarea" maxlength="60" ></textarea>
                                    <small *ngIf="editForm.controls['description'].touched && editForm.hasError('required','description')" class="text-danger rounded">*Descripcion entre 5 y 60 caracteres</small>
                                </div>
                        
                                <div class="mb-3">
                                    <label class="form-label">Fecha limite*:</label>
                                    <input type="date" class="form-control" formControlName="date" (click)="onSingup('date')" [class.error]="editForm.controls['date'].touched && editForm.hasError('required','date')" placeholder="ejemplo@gmail.com" >
                                    <small *ngIf="editForm.controls['date'].touched && editForm.hasError('required','date')" class="text-danger rounded">*Fecha requerida</small>
                                </div>
                        
                                <div class="mb-3">
                                    <button type="submit" class="btn" style="background-color: #e30052; color: white;" (click)="autenticate()">Guardar</button>
                                </div>

                            </div>
                            <div class="col">
                                <label class="form-label">Elige a tus colaboradores*:</label>
                                <div class="overflow-auto scroll">
                                    <div class="row">
                                            <ng-container  *ngFor="let worker of this.workers">
                                                <div class="col-6 col-sm-4 col-md-4 col-xl-4 workers">
                                                    <app-select-coworker [worker]="worker" (enviar)="recibirMensaje($event)"></app-select-coworker>
                                                </div>
                                                    
                                            </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-container>


