
<ng-container *ngIf="exist">
    <!--
        <div style="margin-left: 40px;">

        <div class="row">
            <div *ngFor="let user of this.completeUsers; let first = first" class="col-1" style="margin-bottom: 5px;">
                
                <img class="img" src="{{user.avatar}}" alt="">
                
            </div>
        </div>



    </div>
    -->
    
    
<!---->
    <ng-container>
        <div class="container-fluid row">
            <app-card-tasks [task]="task" *ngFor="let task of this.tasks" class="col-12 col-md-6 col-xl-6"></app-card-tasks>
        </div>
    </ng-container>
    
   <img src="assets/images/task/add-button.png" (click)="modalCreate.showModal()">
   <app-modal-create #modalCreate [workers]="this.proyecto.coworker" ></app-modal-create>
<!--
    <ng-container *ngFor="let coworker of proyecto.coworker"> 
        {{ponerUsuarios(coworker.id)}}  
    </ng-container>
-->
    

    
<!--
    <app-title-h1 text="Equipo de trabajo"></app-title-h1>
    <div class="container-fluid row">
        <app-card-user [data]="user" *ngFor="let user of this.completeUsers" class="col-12 col-md-6 col-xl-4"></app-card-user>
    </div>
-->
    
    
   
</ng-container>

