/*.dsc-carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dsc-carousel::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.48);
}

.dsc-carousel_content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;
}
.dsc-carousel_content-item {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 1s all ease-in;
}

.h1 {
    color: withe;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 1;
}
.h1sub {
        color: #FF8000;
}

.p {
    z-index: 1;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
    

.dsc-carousel__btns {
        position: absolute;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        > i {
            opacity: 0.7;
            color: #fff;
            font-size: 45px;
            cursor: pointer;
            justify-content: space-between;
        }
    }

.dsc-carousel__steps {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dsc-carousel__steps-step {
    height: 8px;
    width: 25px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
    cursor: pointer;
    transition: 0.75s all ease-in-out;
}
.dsc-carousel__steps-step:hover, &-active{
    opacity: 0.7;
    background: white;
}*/

.dsc-carousel-container {
    position:relative;
    margin: auto;
    max-width: 400px;
    text-align: center;
    background: rgba(255, 255, 255, 0.419);
    border-radius: 5px;
}
.dsc-carruselimg::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dsc-carousel-container img{
    display: none;
    border-radius: 15px;
    position: flex;
}
.dsc-carousel-container img.image-active {
    margin: auto;
    display: block;
    width: 100%;
    height: 200px;
    width: 230px;
    
}

.dsc-carousel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1 rem;
}


.dsc-dot {
    height: 13px;
    width: 13px;
    margin: 5 5px;
    background-color: #3d3a3a;
    border-radius: 30%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dsc-dot:hover{
    opacity: 1;
}
/*
.dsc-btn-carousel {
    position: absolute;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    > i {
        opacity: 0.7;
        color: #fff;
        font-size: 45px;
        cursor: pointer;
        justify-content: space-between;
    }
}
*/
.dsc-btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 15%;
    padding: 0;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1;
    
}

.dsc-btn-prev {
    left:0;
    color: #5d5d5dab;
}
.dsc-btn-next {
    right:0;
    color: #5d5d5dab;
}

.dsc-icon-carousel{
    color: #5d5d5dab;
    opacity: 0.5;
    transition: all 0.15s ease;
    font-size: 35px;
    cursor: pointer;
    margin-left: 0;
}

.dsc-h1 {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 1;
    position: flex;
}
.dsc-h1sub {
        color: #FF8000;
}

.dsc-p {
    z-index: 1;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.dsc-carruselimg{
    position: relative;
}
.dsc-text{
    position: absolute;
    top: 30%;
    left: 10%;
}

