<footer class="container-fluid">
    <div class="footerContainer">
        <div class="icons">
            <a href="https://www.facebook.com/misas.paula"><img src="assets/images/redes/facebook.png" style="width: 25px;"></a>
            <a href="mailto:pmisas@unal.edu.co"><img src="assets/images/redes/gmail.png" style="width: 25px;"></a>
            <a href="https://wa.me/3177445499"><img src="assets/images/redes/whatsapp.png" style="width: 25px;"></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href={{this.home}}>Home</a></li>
                <li><a href={{this.news}}>News</a></li>
                <li><a href={{this.contact}}>AboutMe</a></li>
                <li><a href={{this.info}}>info</a></li>
            </ul>
        </div>
        <div class="container-fluid footerBotom">
            <p>Copyright &copy;2023; Designed by <span class="designer">Paula Misas</span></p>
        </div>
    </div>

</footer>

