.container-fluid{
    background-color: #e7dfdd;
    width: 90%;
    margin-top: auto;
    padding-left: 50px;
    padding-right: 50px;
}


.ng-invalid:not(form).ng-touched{
    border-left:5px solid #a94442
}

.ng-valid:not(form).ng-touched{
    border-left:5px solid #42A948
}

form{
    margin: auto;
}

label{
    font-size: small;
}

.inp{
    font-size: small;
    height: 30px;
}

textarea{
    font-size: small;
    height: 80%;
}

small{
    font-size: 12px;
}
.btn{
    margin-bottom: 12px;
    margin-top: 8px;
    font-size: small;
}
