.dsc-card {
    height: 180px;
    max-width: 350px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 3px solid rgb(66, 75, 202);
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

.dsc-img {
    height: 130px;
    width: 130px;
    padding: 0.5rem;
    border-radius: 100%;
    
}
.dsc-card-info {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    font-size: small;
    
}
#info {
    opacity: 0.5;
}