<div class="dsc-card" *ngIf= "data" routerLink="/{{data.id}}"> 
    <div class="dsc-card-img">
        <img class="dsc-img" src="{{data.avatar}}" alt="">
    </div>
    <div class="dsc-card-info">
        <h4>{{data.name}}</h4>
        <h6>Edad: {{data.age}}</h6>
        <h6>Genero:
            <ng-container [ngSwitch]="data.gender">
                <span *ngSwitchCase="'F'">Femenino</span>
                <span *ngSwitchCase="'M'">Masculino</span>
                <span *ngSwitchDefault="">{{data.gender}}</span>
            </ng-container>
        </h6>
        <p style="margin-bottom: 0;">{{data.work ? data.work:'sin proyecto'}} </p>
        <p>{{data.description}}</p>
    </div>
</div>

