.dsc-card-users {
    height: 190px;
    max-width: 350px;
    min-width: 230px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 3px solid rgb(66, 75, 202);
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

.dsc-card-admin {
    height: 190px;
    max-width: 350px;
    min-width: 230px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-left: 3px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    
}


.dsc-img {
    height: 120px;
    width: 120px;
    padding: 0.2rem ;
    border-radius: 100%;
    
}
.dsc-card-info {
    max-height: 99%;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 0.3rem;
    padding-bottom: 0.2rem;
    font-size: smaller;
    
}
