
<div class="jumbotron" style="margin-left: 40px; margin-right: 40px;">

    <ng-container *ngIf="proyect">
        <div class="container-fluid proyect" style="text-align: center;">
            <div class="col-12">
                <h4 class="display-4" style=" font-weight: 300; color: black; margin-bottom: 20px;">Edita tu proyecto</h4>
            </div>
            <h1 class="display-4"></h1>
            <p class="lead" style="font-size: medium;">Abajo tienes la lista de todos los usurios registrados. En el recuadro puedes editar y crear tu proyecto.
                 recuerda que solo puedes elegir usuarios que no estan trabajando en ningun proyecto, no puedes elegir otros admin
            </p>
            <form [formGroup]="formProyect" style="margin-top: 30px;"> 
                 
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col">

                        <div class="mb-3">
                            <label class="form-label">Titulo*:</label>
                            <input type="text" class="form-control" formControlName="name" (click)="onSingup('name')" [class.error]="formProyect.controls['name'].touched && formProyect.hasError('required','name')" placeholder="nombre de la tarea">
                            <!--<small *ngIf="registerTask.controls['name'].touched && registerTask.hasError('required','name')" class="text-danger rounded">*Nombre es requerido</small>-->
                            <small *ngIf="formProyect.controls['name'].touched && formProyect.hasError('required','name')" class="text-danger rounded">*Tilulo entre 5 y 50 caracteres</small>
                        </div>
                
                        <div class="mb-3">
                            <label class="form-label">Descripcion*:</label>
                            <textarea type="text" row="4" class="form-control" formControlName="description" (click)="onSingup('description')" [class.error]="formProyect.controls['description'].touched && formProyect.hasError('required','description')" placeholder="Agregue una descripcion de su tarea" maxlength="150" ></textarea>
                            <small *ngIf="formProyect.controls['description'].touched && formProyect.hasError('required','description')" class="text-danger rounded">*Descripcion entre 5 y 150 caracteres</small>
                        </div>
                
                        <div class="mb-3">
                            <button>boton</button>
                            <!--
                            <button type="submit" class="btn" style="background-color: #e30052; color: white;" (click)="autenticate()">Guardar</button>
                            -->
                        </div>

                    </div>
                    <div class="col">
                        <label class="form-label">Elige a tu equipo*:</label>
                        <div class="overflow-auto scroll">
                            <div class="row">
                                
                                    <ng-container  *ngFor="let user of nextCoworker">
                                        <div class="col-6 col-sm-4 col-md-4 col-xl-4 workers">
                                            <app-select-coworker [worker]="user" (enviar)="recibir($event)"></app-select-coworker>
                                        </div>
                                            
                                    </ng-container>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
        
                
            </form>


        </div>
    </ng-container>

<div class="container-fluid row">
    <!--
        <div class="col-12">
        <h3 class="display-4" style=" font-weight: 300; color: black;">Lista de usuarios</h3>
        </div>
    -->
    
    <ng-container *ngIf="users; else elseUsersLoader" >
        <app-card-user [data]="user" [fromTask]="false" *ngFor="let user of users" class="col-12 col-md-6 col-xl-4"></app-card-user>
    </ng-container>

    <!---------------------------------------Init loader of cards user---------------------------------------->
    <ng-template #elseUsersLoader>
        <app-card-loader class="col-12 col-md-6 col-xl-3"[bars]="4" *ngFor="let i of [0,1,2,3,4,5,6,7,]"></app-card-loader>
    </ng-template>
    <!---------------------------------------End loader of cards user---------------------------------------->


</div>
<h6 style="padding-top: 30px;">Date: {{dateVar | date : 'full'}}</h6>
<!--<p>el pipe es: {{user.name | greeting:user.gender:user.role}} </p> -->
<!--<app-carousel [items]="carouselData"></app-carousel>-->

