.proyect{
    background-color: #e7dfdd;
    width: 90%;
    margin-top: auto
}

label{
    font-size: small;
}

.ng-invalid:not(form).ng-touched{
    border-left:5px solid #a94442
}

.ng-valid:not(form).ng-touched{
    border-left:5px solid #42A948
}

input{
    font-size: small;
}

textarea{
    font-size: small;
}


small{
    font-size: 12px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 35px;
    margin-bottom: -20px;
    margin-top: 20px;
}