
<div class="container-fluid">
    <div class="row">
        <div class="col-6 container-fluid" style="padding: 0px;">
            <img src="assets/images/about/info.jpg" style="max-width: 100%;">
        </div>
        <div class="col-3 container-fluid" style="padding: 0px;">
            <div class="col img container-fluid" style="padding: 0px;">
               <img src="assets/images/about/orange.png" style="max-width: 100%;" >
               <i class="fa-brands fa-bootstrap"></i>
               <p class="text">Bootstrap</p>
            </div>
            <div class="col img container-fluid" style="padding: 0px;">
                <img src="assets/images/about/purple.png" style="max-width: 100%;" >
                <i class="fa-solid fa-network-wired"></i>
                <p class="text">NestJs</p>
            </div>
        </div>
        <div class="col-3 container-fluid" style="padding: 0px;">
            <div class="col img container-fluid" style="padding: 0px;">
               <img src="assets/images/about/greey.png" style="max-width: 100%;">
               <i class="fa-brands fa-angular" ></i>
               <p class="text">Angular</p>
            </div>
            <div class="col img container-fluid" style="padding: 0px;">
                <img src="assets/images/about/royalBlue.jpg" style="max-width: 100%;" >
                <i class="fa-solid fa-database"></i>
                <p class="text">Mysql</p>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid body">

    <div class="col right">
        <h5>COMO FUNCIONA</h5>
            <p>Empieza creando tu cuenta registrandote con un email unico nombre, contraseña y permisos, elegir 
                permisos de administrador significa crear un proyecto automaticamente vinculado al id del administrador
                entra a tu cuenta logeandote con tu email y contraseña. 
            </p>
            <p> 
                Si eres administrador tienes permisos para elegor a tu equipo de trabajo y editar el nombre y descripcion 
                de tu proyecto, solo podras elegir usuarios que no esten vinculados a ningun proyecto. crea tus tareas y asigna
                los usuarios que quieres que participen en ella
            </p>

        <h5>CREACION</h5>
        <p>
            Esta pagina fue creada con backend nestJs y conectada a una base sql y Bootstrap junto con angular implementenado lazy loading, comunicacion entre 
            componentes usando servicios, observables, guards para proteger rutas de registro y panel
        </p>
    </div>
</div>



<!--
<div class="container">
    <div class="left">
      <img src="assets/images/about/info.jpg" style="max-width: 800px;" alt="Imagen izquierda">
    </div>
    <div class="right">
      <div class="top-row">
        <img src="assets/images/about/orange.png" alt="Imagen derecha 1">
        <img src="assets/images/about/purple.png" alt="Imagen derecha 2">
      </div>
      <div class="bottom-row">
        <img src="assets/images/about/purple.png" alt="Imagen derecha 3">
        <img src="assets/images/about/orange.png" alt="Imagen derecha 4">
      </div>
    </div>
  </div>
-->
